@font-face{
    font-family:'moon-ar';
    src:url('../fonts/ar/ElMessiri-VariableFont_wght.ttf');
}

@font-face{
    font-family:'moon-en';
    src:url('../fonts/en/Glory-VariableFont_wght.ttf');
}

html[lang="ar"] *{
    font-family:'moon-ar' !important;
}

html[lang="en"] *{
    font-family:'moon-en' !important;
}

*{
    margin:0;
    padding:0;
}

.app{
    background:#023047;
    overflow-x: hidden;
}

a{
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
}

a, p, h1, h2, button{
    color:#fff;
}

#mail p , #mail h1{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 50px;
}

.section{
    position: relative;
    display: grid;
    justify-items: start;
    align-items: center;
}
.section .title{
    position: relative;
}

.section .title h1{
    font-weight: 600;
    line-height: 35px;
}
.section .title h1::after{
    content: "";
    top: 50%;
    left: 0;
    width: 105%;
    height: 40%;
    position: absolute;
    background-color: #0dcca655;
    border-radius: 40px;
}

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 0px
}
nav .logo a{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    font-size:25px;
    margin:0 50px;
}
nav .logo h1{
    margin:0px 20px;
    font-weight:600;
}
@media(max-width:500px){
      nav{
          justify-content:space-evenly;
      }
      nav .logo{
          width: 50%;
      }
        nav .logo a{
          font-size:20px;
          margin:0 50px;
        }
        nav .logo a{
          font-size:20px;
          margin:0 50px;
        }
        nav .logo a img{
          width: 60px;
          height: 60px;
        }
        nav .logo a h1{
          margin: 0 10px;
        }

}

#footer {
    width: 100%;
    height: 400px;
    margin-top: 250px;
    background: url(../images/home/moonFooter.svg) no-repeat;
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: start;
    grid-auto-rows: 25% 65% 5%;
    font-size: 20px;
    font-weight: 600;
}
#footer::after {
    content: "";
    position: absolute;
    top: -48%;
    left: 50%;
    transform: translate(-50%, 0) rotate(2deg);
    width: 320px;
    height: 205px;
    background: url(../images/home/spaceShips.svg) no-repeat;
    background-size: cover;
}

  html[lang="en"] #footer{
    left: 50%;
    transform: translate(-50%,0);
  }

  html[lang="ar"] #footer{
    right: 50%;
    transform: translate(50%,0);
  }

  #footer .title{
    margin-top: 60px;
  }
  #footer .content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  #footer .text {
    width: 40%;
    margin: 0 20px;
  }
  #footer .logo {
    text-align: center;
    margin: 0 20px;
  }


  @media (max-width:730px) {
    #footer {
        width: 100%;
        font-size: 18px;
        grid-auto-rows: auto;
        border-top: 40px solid #fff;
        position: absolute;
        bottom: 0;
        background: #858585;
    }
      #footer::after{
        content: "";
        position: absolute;
        top: -49.3%;
        left: 50%;
        transform: translate(-50%, 0) rotate(0deg);
        width: 330px;
        height: 205px;
        background: url('../images/home/spaceShips2.svg') no-repeat;
        background-size: cover;
      }


      #footer .title{
        margin-top: 60px;
      }
      #footer .content{
        display: grid;
        justify-items: center;
        margin-top: 20px;
        align-self: center;
      }

      #footer .text {
        width: 80%;
        margin:20px;
      }
      #footer .logo {
        text-align: center;
        margin: 0 20px;
      }
  }
